.learninghub-wrapper {
  padding: 24px;
  background-color: #e6f5f2;
}


.learninghub {
  position: relative;
  width: 100%;
  height: 85vh;
  background: url("/learning_hub.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  border-radius: 24px;
  overflow: hidden;
}

.learninghub-overlay {
  position: absolute;
  inset: 0;
}

.learninghub-content {
  position: relative;
  max-width: 700px;
  padding: 0 24px;
  margin-left: 50px;
  margin-top: -80px;
  color: #fff;
  z-index: 2;
}

.learninghub-tag {
  letter-spacing: 2px;
  font-size: 0.85rem;
  color: #71b8a1;
  margin-bottom: 10px;
}

.learninghub-title {
  font-size: clamp(2.3rem, 5vw, 3.8rem);
  font-weight: 800;
  line-height: 1.2;
}

.learninghub-title span {
  color: #71b8a1;
}

.learninghub-features span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.learninghub-features svg {
  color: #71b8a1;
  font-size: 1.1rem;
}


.learninghub-desc {
  margin-top: 18px;
  max-width: 620px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.learninghub-features {
  margin-top: 28px;
  display: flex;
  gap: 22px;
  flex-wrap: wrap;
  font-size: 1rem;
}

.learninghub-buttons {
  margin-top: 40px;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

/* Tablet */
@media (max-width: 1024px) {
  .learninghub-content {
    margin-left: 20px;
    margin-top: -40px;
    max-width: 90%;
  }

  .learninghub {
    height: 75vh;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .learninghub {
    background: url("/learning_hub_mob.png") center center no-repeat;
    background-size: cover;
    min-height: 83vh;
    padding: 20px 16px;
    border-radius: 14px;
  }

  .learninghub-content {
    margin: 0;
    padding: 0 8px;
  }

  .learninghub-title {
    font-size: 1.3rem;
  }

  .learninghub-desc {
    font-size: 0.95rem;
  }

  .learninghub-features {
    font-size: 0.85rem;
    gap: 10px;
  }

  .learninghub-buttons {
    gap: 12px;
  }

  .learninghub-buttons .btn {
    flex: 1;
  }
}


@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.learninghub-content > * {
  opacity: 0;
  animation: slideFadeIn 0.8s ease forwards;
}

/* Stagger delay one by one */
.learninghub-tag {
  animation-delay: 0.2s;
}

.learninghub-title {
  animation-delay: 0.4s;
}

.learninghub-desc {
  animation-delay: 0.6s;
}

.learninghub-features {
  animation-delay: 0.8s;
}

.learninghub-buttons {
  animation-delay: 1s;
}







.resources-section {
  background: #ffffff;
  padding: 90px 20px;
}

.resources-wrapper {
  max-width: 1200px;
  margin: auto;
}

/* Heading */
.resources-head {
  max-width: 650px;
  margin-bottom: 60px;
}

.resources-head h2 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #124f46;
}

.resources-head p {
  margin-top: 12px;
  font-size: 1rem;
  color: #2f5f56;
  line-height: 1.6;
  opacity: 0.85;
}

/* Grid */
.resources-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.resource-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #ffffff 0%, #d9f2ea 100%);
  border-radius: 22px;
  padding: 32px 28px;
  box-shadow: 0 10px 30px rgba(150, 150, 150, 0.12);
  transition: transform 0.4s ease;
  border: 1.5px solid #71b8a1;
}

.resource-item:hover{
  transform: translateY(-6px);
}



.resource-item h3 {
  font-size: 1.3rem;
  color: #124f46;
  margin-bottom: 12px;
}

.resource-item p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #2f5f56;
  margin-bottom: 18px;
  flex-grow: 1; 
}

.resource-item span {
  font-size: 0.9rem;
  font-weight: 600;
  color: #2f8f8b;
  cursor: pointer;
  margin-top: auto;
}

/* Responsive */
@media (max-width: 900px) {
  .resources-grid {
    grid-template-columns: 1fr;
  }

  .resources-head h2 {
    font-size: 1.7rem;
  }
}



.learning-split {
  background: #e6f5f2;
  padding: 64px 0; 
}

.ls-container {
  max-width: 1400px;  
  margin: 0 auto;
  padding: 0 16px;  
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 74px;
  align-items: stretch;
}

/* Left image section */
.ls-left {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.ls-left img {
  width: 100%;
  max-width: 620px;
  height: 520px;
  object-fit: cover;
  border: 4px solid #124f46;
  border-radius: 16px;
}



/* Right content */
.ls-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.ls-top h2 {
  font-size: 2.5rem;
  color: #124f46;
  margin-bottom: 10px;
  font-weight: 800;
}

.ls-top p {
  color: #2f5f56;
  font-size: 1rem;
  line-height: 1.6;
  max-width: 520px;
  margin-bottom: 32px;
}

/* Steps */
.ls-steps {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.ls-step {
  display: flex;
  gap: 19px;
  align-items: flex-start;
}

.ls-icon {
  min-width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #1fa59a, #137d75);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 21px;
}

.ls-step h4 {
  color: #124f46;
  font-size: 16px;
  margin-bottom: 5px;
}

.ls-step p {
  font-size: 14px;
  color: #2f5f56;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 900px) {
  .ls-container {
    grid-template-columns: 1fr;
    padding: 0 12px;
  }

  .ls-left img {
    max-width: 300px;
  }

  .ls-top h2 {
    font-size: 27px;
  }

  .learning-split {
    padding: 48px 0;
  }
}





.learner-wall {
  background: #ffffff;
  padding: 100px 0;
}

.lw-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Header */
.lw-header {
  text-align: center;
  margin-bottom: 50px;
}

.lw-header h2 {
  font-size: 2.5rem;
  color: #124f46;
  font-weight: 800;
  margin-bottom: 10px;
}

.lw-header p {
  color: #2f5f56;
  font-size: 1rem;
}

.lw-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.lw-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
  width: 100%;
  max-width: 1200px;
}

.lw-item {
  text-align: center;
}

.lw-controls {
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

.lw-quote {
  font-size: 26px;
  color: #1fa59a;
  margin-bottom: 12px;
}

.lw-text {
  font-size: 1rem;
  color: #2f5f56;
  line-height: 1.7;
  margin-bottom: 10px;
}

.lw-name {
  font-size: 0.9rem;
  font-weight: 600;
  color: #124f46;
}

/* Buttons */
.lw-btn {
  background: #f4fbf9;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #137d75;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lw-btn:hover {
  background: #e6f6f2;
}

@media (max-width: 900px) {

  .learner-wall{
    padding: 50px 10px;
  }

  .lw-list {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .lw-item {
    align-items: center;
  }

  .lw-controls {
    margin-top: 44px;
  }
}













.blog-section {
  padding: 90px 20px;
  background: #e6f5f2;
}

.blog-wrapper {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.blog-header h2 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #124f46;
}

.blog-btn {
  background: #2f8f8b;
  color: #fff;
  border: none;
  padding: 12px 22px;
  border-radius: 10px;
  cursor: pointer;
}

/* Layout */
.blog-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

/* LEFT */
.blog-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.blog-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-meta {
  font-size: 0.8rem;
  padding: 12px 18px 0;
  color: #2f8f8b;
}

.blog-card h3 {
  padding: 10px 18px 0;
  font-size: 1.2rem;
  color: #124f46;
}

.blog-card p {
  padding: 10px 18px 18px;
  font-size: 0.9rem;
  color: #555;
}

/* RIGHT */
.blog-right {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.blog-mini {
  display: flex;
  gap: 14px;
  background: #fff;
  padding: 12px;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}

.blog-mini img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  object-fit: cover;
}

.blog-mini span {
  font-size: 0.75rem;
  color: #2f8f8b;
}

.blog-mini h4 {
  font-size: 0.9rem;
  color: #124f46;
}

/* Responsive */
@media (max-width: 900px) {
  .blog-layout {
    grid-template-columns: 1fr;
  }

  .blog-left {
    grid-template-columns: 1fr;
  }
}
